

.purple-bg {
    background-color: #6f42c1;
    box-shadow: -10px -5px 20px 6px rgb(2 1 1);
    position: sticky !important;
    top: 0;
}

.infobox-info {

    height: 300px;
    width: 400px;
    background-color: #6f42c1;
    border-radius: 50px;
    align-self: center;


}

.infobox-img {

    height: 200px;
    width: 200px;
    border-radius: 50px;
    align-self: center;
    text-align: center;

}

.separator {
    height: 250px;
    width: 2px;
    background-color: lightgray;
}


.btn-newapartment {
    background-color: #6f42c1 !important;
    color: white !important;
}

.logo{
    width: 50px;
}

.card{
    border: 1px solid #6f42c1 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.butt-1{
    width: 40px;
    height: 40px;
    background-color: #6f42c1;
    color: white;
    border-radius: 10px;
    border: 0px;
}

.butt-2{
    width: 40px;
    height: 40px;
    background-color: #6f42c1;
    color: white;
    border-radius: 10px;
    border: 0px;
}

ul{
    list-style-type: none;
}

li{
    margin-top: 15px;
    font-size: 17px;
}

.riga{
    background-color: #6e42c142;
    border-radius: 20px;
    padding: 5px;
}

.left-description{
    width: 50%;
    background-color: #6e42c133;
}

.img-show{
    width: 100%;

}

.titolo-show{
    color: #6f42c1;
    font-weight: bold;
    font-size: 30px;
}

.title-lista{
    color: #6f42c1;
    font-weight: bold;
    font-size: 20px;
}
